@charset "utf-8"
/*css*/
.div1{
	height:100px;
	width:820px;
	background-image:url(01.jpg);
	backgrround-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.div2{
	width:820px;
	background-color:#d2e7ff;
}
table{
	font-size:12px;
	font-family:"幼圆";
}
.div3{
	width:820px;
	height:320px;
	border-style:solid;
	border-color:#ffeedd;
	border-width:10px;
	border-radius:60px;
}
.div4{
	width:810px;
	height:150px;
	text-align:left;
	border-bottom-width:2px;
	border-bottom-style:dotted;
	border-bottom-color:#ffeedd;
}
.div5{
	width:710px;
	height:150px;
	text-align:left;
}
ul{
	font-size:15px;
	font-family:"楷体";
}